<header class="main-menu">
  <%= render partial: "layouts/error_messages", locals: { object: @user } if current_user.blank? %>
  <div class="main-menu-container">
    <div class="mx-0-5-rem p-0-5-rem brand-wrapper">
      <svg xmlns="http://www.w3.org/2000/svg" width="70" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
      </svg>
      <div class="brand">Funny Movies</div>
    </div>

    <% if current_user.present? %>
      <div class="login-register-form">
        <div class="p-0-5-rem mx-0-5-rem"><%= current_user.email %></div>
        <%= link_to "Share a movie", new_movie_path, class: "rounded btn text-white p-0-5-rem mx-0-5-rem" %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "rounded btn-outline text-orange p-0-5-rem mx-0-5-rem" %>
      </div>

    <% else %>
      <%= form_for(@user, as: :user, url: login_register_path, html: { class: "login-register-form" }) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input rounded p-0-5-rem mx-0-5-rem", placeholder: 'Email...' %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "new-password", class: "input rounded p-0-5-rem mx-0-5-rem", placeholder: 'Password ...' %>
        </div>

        <div class="register-action">
          <%= f.submit "Register", class: "rounded btn-outline text-orange p-0-5-rem mx-0-5-rem" %>
        </div>

        <div class="login-action">
          <%= f.submit "Login", class: "rounded btn text-white p-0-5-rem mx-0-5-rem" %>
        </div>

      <% end %>
    <% end %>
  </div>
</header>